.user {
  display: flex;
  margin: 2rem;

  .avatar {
    width: 150px;
    height: 150px;
    overflow: hidden;

    img {
      width: 80%;
      object-fit: cover;
    }
  }
}

.pages {
  span {
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
  }

  .activePage {
    font-weight: bold;
  }
}

