/*Style reset*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  font-size: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*Style reset*/

@import "fonts";

$font-regular: "Libre Franklin", sans-serif;
$font-logo: "Ubuntu-Title";
$header-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
$block-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
$shadow: 0px 1px 5px 0px rgba(51, 51, 51, 0.2);
$primary-blue: #0af;
$dark-grey: #535c61;
$dark-grey-1: #363636;
$dark-blue-grey: #20303c;
$grey-block: #f1f1f1;
$dark-blue: #00334d;
$dark-blue-2: rgba(0, 51, 77, 1);

@mixin respond($breakpoint) {
  @if $breakpoint == phone-xs {
    @media only screen and (max-width: 24.375em) {
      @content;
    } //390px/16=24.375em
  }
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px/16=37.5em
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px/16=56.25em
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px/16=75em
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800/16=112.5em
  }
}

.container {
  max-width: 110rem;
  margin: 0 auto;
  //padding: 0 5% 0 5%;
}

a {
  font-family: "o", sans-serif;
  font-weight: 300;
  transition: 300ms;
  font-size: 1.5rem;
  text-decoration: none;
  color: gray;
}

.block {
  background-color: #ffffff;
  padding: 30px;
  box-shadow: $shadow;
  //box-shadow: 0 0 10px -10px rgba(0, 0, 0, 1);
}

html {
  // This defines 1 rem
  font-size: 62.5%; // 1 rem = 10px  10/16=0.625  0.625*100=62.5%
  font-family: $font-regular;
  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; // 1 rem = 9px 9/16=0.5625 => 56.25%
  }

  @include respond(big-desktop) {
    font-size: 75%; //// 1 rem = 12px 12/16=0.75 => 75%
  }
}

// MEDIA QUERIES MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px*/
