@import "../../styles/styles_base";

.app-wrapper {
  background-color: #f1f1f1;
  font-size: 1.4rem;
  height: 100%;
}

.gradient {
  background: linear-gradient(
    90deg,
    rgba(49, 49, 49, 1) 10%,
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.userSection {
  display: grid;
  grid-template-columns: 30% 1fr;
  position: absolute;
  top: 42vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.app-wrapper__content {
  padding: 3rem 2rem 0 2rem;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 42rem auto;
  gap: 30px;
  grid-column: 2/3;
}

.userProfile {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  justify-self: left;
}

.header {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}
