@import "../../styles/_styles_base.scss";

.header {
  background-color: white;
  box-shadow: $header-shadow;
}


.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login {
  a {
    color: $primary-blue;
    font-size: 1.8rem;
  }
}
