@import "../../../styles/styles_base";
.header__logo {
  display: flex;
  align-items: center;
}

.header__logo span {
  font-family: $font-logo;
  font-weight: 400;
  color: $primary-blue;
  display: block;
  margin-left: 1rem;
  font-size: 3.5rem;
  width: 100%;
}